{% extends 'malt/asset/single.html' %}

{% block subbody %}
    <h2>
        {% if is_file %}
            Overwrite
        {% else %}
            Merge
        {% endif %}
        {{ path }} with {{ name }}?
    </h2>
    <p>
        Please be aware that this operation is irreversible.
    </p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="overwrite" value="">
        <input type="hidden" name="pk" value="{{ pk }}">
        <input type="submit" value="Confirm">
    </form>
{% endblock %}
