{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'malt/css/base.css' %}">
    {% block subcss %}
    {% endblock %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'malt/js/base.js' %}"></script>
{% endblock %}

{% block content %}
    <nav>
        <ul class="trail">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if course %}
                <li>🡒</li>
                <li><a href="{% url course.href %}">{{ course.text }}</a></li>
                {% if page %}
                    <li>🡒</li>
                    <li><a href="{% url page.href %}">{{ page.text }}</a></li>
                {% endif %}
            {% endif %}
        </ul>
        {% if power and not focus %}
            {% include 'malt/uploader/form.html' with method='code' %}
        {% endif %}
        <div class="profile">
            <p>
                {{ request.user.get_username }}
            </p>
            <ul>
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'user_add' %}">Add user</a></li>
                    <li><a href="{% url 'user_manage' %}">Manage users</a></li>
                {% endif %}
                {% if power %}
                    <li><a href="{% url 'asset_manage' %}">Manage assets</a></li>
                {% endif %}
                <li><a href="{% url 'password_change' %}">Change password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="deck">
        {% block header %}
        {% endblock %}
        <main class="card primary large">
            <h1>
                {% block subtitle %}{% endblock %}
            </h1>
            {% block subcontent %}
            {% endblock %}
        </main>
        {% block footer %}
        {% endblock %}
    </div>
{% endblock %}
