/* base */

html {
    height: 100%;
    font-size: 16px;
    font-family: "Lora", serif;
}

body {
    height: 100%;
    background-color: #efefef;
    color: #000000;
}

h1 {
    font-size: 3rem;
    font-family: "Open Sans Condensed", sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
    text-decoration: underline;
}

/* table */

table {
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

thead {
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #efefef;
}
tbody tr:nth-child(even) {
    background-color: #ffffff;
}

th {
    padding: .5rem 1rem;
    text-align: left;
    font-weight: bold;
}

td {
    padding: .5rem 1rem;
}

caption {
    caption-side: bottom;
    padding: .5rem 1rem;
}

/* form */

form {
    width: min-content;
}

label {
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
label span {
    display: block;
    flex-grow: 1;
    white-space: nowrap;
}
label span::after {
    content: ":\a0";
}
label input {
    width: 11.25rem;
}

input {
    display: block;
    border-width: 1px;
    border-style: solid;
    padding: .25rem;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #000000;
}
input:focus {
    outline: none;
}

input[type="submit"] {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input[type="submit"]:active:not(:disabled) {
    position: relative;
    top: 1px;
    left: 1px;
}

form p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

form ul {
    margin: 1rem;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #ff0000;
    list-style-type: disc;
}
form li {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

/* card */

.card {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 1px 1px 3px #666666;
}

.primary {
    background-color: #fff2cc;
}
.primary input {
    background-color: #fff2cc;
}
.primary input[type="text"],
.primary input[type="email"],
.primary input[type="password"] {
    border-color: #ccc2a3 #fff9e6 #fff9e6 #ccc2a3;
}
.primary input[type="submit"] {
    border-color: #fff9e6 #ccc2a3 #ccc2a3 #fff9e6;
}
.primary input[type="submit"]:focus {
    background-color: #fff5d9;
}
.primary input[type="submit"]:active:not(:disabled) {
    border-color: #fff2cc;
}

.secondary {
    background-color: #f4cccc;
}

.card > *:first-child {
    background-color: #ffffff;
}

.small > *:first-child {
    padding: 1rem;
}
.small > *:not(:first-child) {
    margin: 1rem;
}

.large {
    width: 80ch;
    max-width: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
}
.large > *:first-child {
    margin-bottom: 2rem;
    padding: 2rem;
}
.large > *:not(:first-child) {
    margin: 1rem 2rem;
}
.large > h2:not(:first-child) {
    margin-top: 2rem;
}
