html {
    height: 100%;
    font-size: 16px;
    font-family: "Lora", serif;
}

body {
    height: 100%;
    background-color: #efefef;
    color: #000000;
}

h1 {
    font-size: 3rem;
    font-family: "Open Sans Condensed", sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
    text-decoration: underline;
}

form {
    width: min-content;
}

label {
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
label span {
    flex-grow: 1;
    white-space: nowrap;
}
label span::after {
    content: ":\a0";
}
label input {
    width: 11.25rem;
}

input {
    border-width: 1px;
    border-style: solid;
    padding: .25rem;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
input:focus {
    outline: none;
}
input[type="submit"] {
    width: 100%;
}
input[type="submit"]:active {
    position: relative;
    top: 1px;
    left: 1px;
}

form p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

form ul {
    margin: 1rem;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #ff0000;
    list-style: disc;
}
form li {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.deck {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.card {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 1px 1px 3px #666666;
}

.primary {
    background-color: #fff2cc;
}
.primary input {
    background-color: #fff2cc;
}
.primary input[type="text"],
.primary input[type="email"],
.primary input[type="password"] {
    border-color: #ccc2a3 #fff9e6 #fff9e6 #ccc2a3;
}
.primary input[type="submit"] {
    border-color: #fff9e6 #ccc2a3 #ccc2a3 #fff9e6;
}
.primary input[type="submit"]:focus {
    background-color: #fff5d9;
}
.primary input[type="submit"]:active {
    border-color: #fff2cc;
}

.secondary {
    background-color: #f4cccc;
}

.card > :first-child {
    margin: 0;
    background-color: #ffffff;
}

.large {
    width: 80ch;
    max-width: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
}
.large > * {
    margin: 1rem 2rem;
}
.large > :first-child {
    padding: 2rem;
}
.large > h2,
.large > :nth-child(2) {
    margin-top: 2rem;
}

.small > * {
    margin: 1rem;
}
.small > :first-child {
    padding: 1rem;
}
