html {
    height: 100%;
    font-size: 16px;
    font-family: "Lora", serif;
}

body {
    height: 100%;
    background-color: #efefef;
}

h1 {
    font-size: 3rem;
    font-family: "Open Sans Condensed", sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

input {
    border-width: 1px;
    border-style: solid;
    padding: .25rem;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
}
input:focus {
    outline: none;
}
input[type="submit"] {
    width: 100%;
}
input[type="submit"]:focus {
    font-weight: bold;
}
input[type="submit"]:active {
    position: relative;
    top: 1px;
    left: 1px;
}

label {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}
label span {
    flex-grow: 1;
    white-space: nowrap;
}
label span::after {
    content: ":\a0";
}
label input {
    width: 11.5rem;
}

form ul {
    width: 11.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    color: #ff0000;
    list-style: disc;
}
form li {
    margin-bottom: .25rem;
}

form p {
    margin-top: 1rem;
    text-align: center;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
}

.card {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 1px 1px 3px #666666;
}

.primary {
    background-color: #fff2cc;
}
.primary input {
    background-color: #fff2cc;
    color: #403d33;
}
.primary input[type="text"], input[type="email"], input[type="password"] {
    border-color: #ccc2a3 #fff9e6 #fff9e6 #ccc2a3;
}
.primary input[type="submit"] {
    border-color: #fff9e6 #ccc2a3 #ccc2a3 #fff9e6;
}
.primary input[type="submit"]:active {
    border-color: #fff2cc;
}

.secondary {
    background-color: #fce5cd;
}

.head {
    background-color: #ffffff;
}

.large {
    padding: 2rem;
}

.small {
    padding: 1rem;
}
