{% extends 'malt/uploader/base.html' %}

{% block img %}
    {% load static %}
    <img src="{% static 'throbber.gif' %}" title="https://icon-library.net/icon/progress-icon-gif-8.html">
{% endblock %}

{% block element %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value="{% url 'upload_prepare' %}">
        <input type="hidden" name="method" value="{{ method }}">
        <input type="hidden" name="view_name" value="{{ request.resolver_match.view_name }}">
        {% for key, value in request.resolver_match.kwargs.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <input type="file" name="file">
    </form>
{% endblock %}
