{% extends 'registration/base.html' %}

{% block title %}Password Reset Confirm{% endblock %}

{% block subtitle %}Reset password{% endblock %}

{% block subbody %}
    {% if validlink %}
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <label for="{{ form.new_password1.id_for_label }}">
                <span>{{ form.new_password1.label }}</span>
                {{ form.new_password1 }}
            </label>

            {{ form.new_password1.errors }}

            <label for="{{ form.new_password2.id_for_label }}">
                <span>{{ form.new_password2.label }}</span>
                {{ form.new_password2 }}
            </label>

            {{ form.new_password2.errors }}

            <input type="submit" value="Save">
        </form>
    {% else %}
        <p>
            This password reset link is invalid.
        </p>
    {% endif %}
{% endblock %}
