{% extends 'malt/base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block subcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'malt/css/yeast.css' %}">
{% endblock %}

{% block header %}
    {% if owned %}
        <header{% if not object.active %} class="draft"{% endif %}>
            <p>
                {% if object.active %}
                    Published
                {% else %}
                    Uploaded
                {% endif %}
                in {{ object.timestamp }}.
            </p>
            <p><a href="{{ move_url }}">move</a></p>
            {% if not object.active %}
                <p><a href="{{ publish_url }}">publish</a></p>
            {% endif %}
        </header>
    {% endif %}
{% endblock %}
