/* base */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fce5cd;
    box-shadow: 2px 2px 6px #666666;
}

nav a {
    display: block;
    padding: .5rem 1rem;
    white-space: nowrap;
    color: #fce5cd;
}
nav a:hover {
    text-decoration: none;
    background-color: #fce5cd;
    color: #000000;
}
nav a:focus {
    text-decoration: none;
    background-color: #fce5cd;
    color: #000000;
}

nav > ul {
    display: flex;
    align-items: center;
}

.profile {
    position: relative;
}
.profile p {
    padding: .5rem 1rem;
    white-space: nowrap;
    user-select: none;
}
.profile p:focus {
    outline: none;
}
.profile p::before {
    content: "\25be\a0";
}
.profile ul {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    box-shadow: 2px 2px 6px #666666;
}
.profile:hover ul,
.profile:focus-within ul {
    display: block;
}

.deck {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.center {
    width: 80ch;
    max-width: 100%;
    margin: 1rem;
}

/* uploader */

.uploader {
    border-width: 1px;
    border-style: solid;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
.uploader:focus {
    outline: none;
}
.uploader:active:not(:disabled) {
    position: relative;
    top: 1px;
    left: 1px;
}

.uploader span {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    text-decoration: underline;
}
.uploader span::after {
    content: normal !important;
}
.uploader img {
    display: block;
    width: 100%;
    height: 100%;
}

.uploader input[type="file"] {
    display: none;
}

nav .uploader {
    display: block;
    padding: 0 .5rem;
    border-color: #000000;
    background-color: #000000;
    color: #fce5cd;
}
nav .uploader:focus,
nav .uploader:hover:not(:disabled),
nav .uploader.drag:not(:disabled) {
    border-color: #7c7165 #49433c #49433c #7c7165;
}
nav .uploader:active:not(:disabled) {
    border-color: #000000;
}

nav .uploader figure {
    width: 1.5rem;
    height: 1.5rem;
}
nav .uploader span {
    font-size: 1rem;
}

nav .uploader ul {
    display: none;
}

.card .uploader {
    display: flex;
    padding: .25rem .75rem;
}

.card .uploader figure {
    width: 2.125rem;
    height: 2.125rem;
}
.card .uploader span {
    font-size: 1.5rem;
}

.card .uploader ul {
    margin: 0 0 0 .75rem !important;
    text-align: left;
    font-size: .75rem;
    color: #000000 !important;
    list-style-type: none !important;
}
.card .uploader li {
    margin: 0 !important;
}
.card .uploader li:first-child {
    white-space: nowrap;
}

.primary .uploader {
    border-color: #fff9e6 #ccc2a3 #ccc2a3 #fff9e6;
    background-color: #fff2cc;
    color: #000000;
}
.primary .uploader:focus,
.primary .uploader:hover:not(:disabled),
.primary .uploader.drag:not(:disabled) {
    background-color: #fff5d9;
}
.primary .uploader:active:not(:disabled) {
    border-color: #fff2cc;
}

.hidden {
    display: none !important;
}
