.error {
    padding: 1rem;
    font-family: "Oxygen Mono", monospace;
    background-color: #000000;
    color: #00ff00;
}

.error li:not(:last-child) {
    margin-bottom: 1rem;
}

.error li:last-child {
    color: #ff0000;
}
