nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #fce5cd;
    box-shadow: 2px 2px 6px #666666;
}
nav a {
    display: block;
    padding: .5rem 1rem;
    white-space: nowrap;
    color: #fce5cd;
}
nav a:hover {
    text-decoration: none;
    background-color: #fce5cd;
    color: #000000;
}

.trail {
    display: flex;
    align-items: center;
}

.profile p {
    padding: .5rem 1rem;
    white-space: nowrap;
}
.profile p::before {
    content: "\25be\a0";
}
.profile ul {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    color: #fce5cd;
    box-shadow: 2px 2px 6px #666666;
}
.profile:hover ul {
    display: block;
}
