.bulk label.boolean {
    align-items: center;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
.bulk label.boolean input {
    width: auto;
}
.bulk label.boolean span::before {
    content: "\a0";
}
.bulk label.boolean span::after {
    content: normal;
}

.bulk label:not(.boolean) {
    display: block;
}
.bulk label:not(.boolean) span {
    margin-bottom: .25rem;
}
.bulk label:not(.boolean) span::after {
    content: ":";
}
.bulk label:not(.boolean) input {
    width: 15rem;
}

.filter {
    width: auto;
}

.filter input {
    display: inline;
}

.filter input[type="text"] {
    width: 15rem;
}

.filter input[type="submit"] {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}
