p {
    padding-left: 1rem;
}

form {
    padding-left: 1rem;
}

.add label.boolean {
    align-items: center;
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
.add label.boolean input {
    width: auto;
}
.add label.boolean span::before {
    content: "\a0";
}
.add label.boolean span::after {
    content: normal;
}

.add label:not(.boolean) {
    display: block;
}
.add label:not(.boolean) span {
    display: block;
    margin-bottom: .25rem;
}
.add label:not(.boolean) span::after {
    content: ":";
}
.add label:not(.boolean) input {
    width: 22.5rem;
}

.add label .uploader span::after {
    content: normal;
}

.uploader p {
    margin: 0;
    padding: 0;
}
