header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    background-color: #ccffcc;
    box-shadow: 1px 1px 3px #666666;
}
.draft {
    background-color: #ffcccc;
}

header p {
    margin: 1rem 2rem;
}
header p:first-child {
    flex-grow: 1;
    font-style: italic;
}
